<div class="alert alert-warning" role="alert" *ngIf="message">
  {{message}}
</div>
<table class="table table-bordered">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Email</th>
    <th scope="col">Mobile</th>
    <th scope="col">Type</th>
    <th scope="col">Evidance</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users;let i = index">
    <th scope="row">{{user.name}}</th>
    <td>{{user.email}}</td>
    <td>{{user.mobile}}</td>
    <td>{{user.type}}</td>
    <td><a href="{{formLink(user.evidence)}}" target="_blank">Open</a></td>
    <td><button class="btn btn-success text-light text-center" (click)="activateUser(user.id,i)">activate</button></td>
  </tr>
  </tbody>
</table>
